<html lang="ru">
<head>
    <title>SOME TITLE</title>
</head>
<body>
    <h1>SOME BODY</h1>
    <ul>
        <li>
            <a href="/showStatic">Show Static Example</a>
        </li>
        <li>
            <a href="/forms/">Show Form Example</a>
        </li>
        <li>
            <a href="/student">Show Student Example</a>
        </li>
    </ul>
</body>
</html>