<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Try Forms - Input Form</title>
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <h1>Static CSS and Image</h1>
    <img src="images/123.jpeg"  alt="Image" width="500"/>
</body>
</html>