<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Try Forms - Input Form</title>
</head>

<body>
    <form method="post" action="/forms/process">
        <label>
            <input type="text" placeholder="Input your name please!" name="studentName" />
        </label>
        <input type="submit" />
    </form>
</body>
</html>